/* Add custom styles here */
#host {
	border: 2px solid white;
}
.navbar-right li {
	padding: 0px 5px 0px 5px;
}
.photo-body {
	margin-top: -20px;
	position: relative;
	background-image:url('https://a0.muscache.com/airbnb/static/landing_pages/pretzel/slideshow/hero2-414b89b87b11fb3fbaa3915810bf6a72.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}

.photo-body .center {
	padding-top: 150px;
    text-align: center;
}

.photo-body h1 {
    color: #fff;
    font-size: 48px;  
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}
.photo-body #subtitle {
	color: #fff;
    font-size: 20px;  
    font-family: 'Shift', sans-serif;
}
.how-btn {
	width: 200px;
	margin: 0 auto;
	background-color: #ffffff;
    opacity:0.6;
}
.how-btn p {
	padding: 3px 0px 3px 0px;
}
.how-btn:hover{
	background-color: #333;
	opacity: 0.6;
	color: white;
}
.search-bar {
	margin-top: 100px;
	text-align: center;
}
.search-bar input, #search {
	display: inline;
}
#where-to {
	width: 300px;
	padding: 5px;
}
#check-in, #check-out {
	width: 150px;
	padding: 5px;
}
#total-guests {
	width: 100px;
	padding: 5;
}
.world-guides {
	text-align: center;
	
}
.world-guides .container {
	margin-bottom: 20px;
}
.footer {
	
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 1px solid #dbdbdb;
}
.footer .dropdown button{
	margin: 10px 0px 10px 0px;
	width: 150px;
}
.footer ul {
	list-style-type: none;
}
.footer a:link {
	text-decoration: none;
	color: red;
}
h4 {
	margin-left: 25px;
}
.copy-right {
	margin-top: 5px;
	text-align: center;
}
